* {
  margin: 0;
  padding: 0;
}
/* .background-index{
    background-image: url(https://cdn.wallpapersafari.com/81/12/N9oBIc.png);
    background-size: contain;
    background-repeat: no-repeat;
} */
a:link,
a:visited {
  color: rgb(12, 12, 13);
  text-decoration: none;
}
body {
}
.main {
  width: 100%;
  background-color: #118ab2;
}
.menu {
    width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.home-name {
}
.list-one {
  margin-left: 60px;
}
.list-one li {
  margin-left: 20px;
  display: inline;
}

.divisao {
  display: flex;
  width: 80%;
  margin-left: auto;
}

.lat-esq {
    padding-top: 50px;
  text-align: center;
  border-radius: 2%;
  background-color: #06d6a0;
  display: block;
  margin-right: 50px;
  width: 250px;
}
#face-img {
  width: 200px;
  border-radius: 50%;
}
#alignment {
  text-align: center;
  margin: 10px 0 5px 0;
}
#alignment2 {
  border-top: 2px solid black;
  text-align: center;
  margin: 0 0 20px 0;
}
.profile {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.profile img {
  margin-bottom: 5px;
}
.profile h2 {
  margin-bottom: 5px;
}
.profile p {
  margin-bottom: 25px;
}

.contact {
  width: 100%;
  display: inline-block;
}
.list-tell img,
h3 {
  display: inline-block;
  vertical-align: middle;
}
.list-tell {
  margin-bottom: 15px;
  text-align: center;
}
#meio-contact{
    text-align: left;
    margin-left: 20px;
}
#meio-contact img,
h4 {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: middle;
}
#meio-contact a {
  color: black;
}
#meio-contact a:hover {
  color: crimson;
}
#meio-contact span:hover {
  color: black;
}

.lat-dir {
    padding-top: 50px;
  width: 65%;
}
